.mainFeield {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: dotted #780c28;
  border-radius: 20px;
}

.cvAllContent {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat(3, auto);
  font-family: "lancelot";
  text-transform: capitalize;
  color: #780c28;
  margin-bottom: 40px;
  margin-left: 90px;
}

.cvAllContent h2 {
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
  font-family: "lancelot";
  text-transform: capitalize;
  color: #780c28;
  margin: 20px;
}

.mainFeield h1 {
  color: #780c28;
  font-family: "lancelot";
  font-size: 50px;
  text-decoration: underline #780c28;
}

.cvCategory {
  font-family: "lancelot";
  color: #780c28;
}
.cvTitles {
  color: #780c28;
  font-family: "dosis";
}

.workExperince,
.languages,
.driversLicens {
  grid-column: 1;
}

.education,
.computerSkills,
.references {
  grid-column: 2;
}

.cvAllContent p {
  color: #000;
  font-family: "dosis";
  padding-bottom: 20px;
}
